.header {
    background-image: url(HTMLProjectAssets/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg);
    height: 800px;
    background-size: 100%;
}
.nav {
    padding: 20px;
}
.home {
 text-align: center;
 padding: 7%;
}
.links {
    color: rgb(113, 113, 113);
    text-align: right;
    padding: 0 30px;
}
.links a {
    padding: 10px;
}
.title {
    color: #ffffff;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
}
h1 {
    color: #ffffff;
}
p {
    color: #ffffff;
}
h2 {
    color: #ffffff;
    margin: 0px;
}
.home h1 {
    font-size: 100px;
    padding: 0px;
    margin: auto auto 0px auto;
}
.home p {
    font-size: 55px;
    font-family: 'Assistant', serif;
    margin: 0px;
}
.image1 {
    content: url(HTMLProjectAssets/human-holding-a-bread-745988.jpg);
    height: 400px;
    width: 450px;
    float: left;
    padding-right: 75px;
}
.section1 {
    background-color: #000000;
    height: 400px;
    margin: 0;
}
.section1 h2 {
    padding-top: 125px;
    font-size: 30px;
}
.section1 p {
    padding-top: 10px;
    padding-right: 25px;
    font-size: 15px;
}
.image2 {
    content: url(HTMLProjectAssets/green-pineapple-fruit-with-brown-framed-sunglasses-beside-1161547.jpg);
    height: 400px;
    width: 450px;
    float: right;
    padding-left: 50px;
}
.section2 {
    background-color: #1c1c1c;
    height: 400px;
    margin: 0;
}
.section2 h2 {
    padding-top: 125px;
    padding-left: 25px;
    font-size: 30px;
}
.section2 p {
    padding-top: 10px;
    padding-left: 25px;
    font-size: 15px;
}
.image3 {
    content: url(HTMLProjectAssets/cooked-pasta-on-brown-wooden-bowl-803963.jpg);
    height: 400px;
    width: 450px;
    float: left;
    padding-right: 75px;
}
.section3 {
    background-color: #2a2a2a;
    height: 400px;
    margin: 0;
}
.section3 h2 {
    padding-top: 125px;
    font-size: 30px;
}
.section3 p {
    padding-top: 10px;
    padding-right: 25px;
    font-size: 15px;
}